/* ---- Quitando estilos predetermindos ---- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ---- Estilos generales ---- */
body {
  font-family: "Asap", sans-serif;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}

img {
  max-width: 100%;
}
h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 260%;
  text-align: center;
}

h2 {
  font-size: 300%;
  text-align: center;
}

/* ---- HEADER ---- */
.container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

header {
  padding: 20px;
  position: absolute;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  display: flex;
  padding-top: 2em;
}

header #icon-menu {
  cursor: pointer;
}

.navigation {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(220, 53, 51, 1),
    rgba(68, 1, 0, 1)
  );
  overflow: hidden;
  clip-path: circle(0px at top left);
  transition: clip-path ease-in-out 700ms;
  margin-top: -65px;
}
.site-nav-open {
  height: 100vh;
  clip-path: circle(150% at top left);
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation .menu a {
  display: block;
  padding: 2em 6em;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.ham-menu {
  top: 0.5em;
  right: 0.5em;
  display: flex;
  position: relative;
  z-index: 100;
}

.menu-open .ham {
  transform: rotate(45deg);
}

.menu-open .ham::before {
  opacity: 0;
}

.menu-open .ham::after {
  transform: translateY(-3px) rotate(-90deg);
}

figure {
  margin: 0;
  padding: 0;
}

#icon-menu-close {
  display: none;
}
/* ---- Carga ---- */
#container-charge {
  background-image: linear-gradient(
    180deg,
    rgba(220, 53, 51, 1),
    rgba(68, 1, 0, 1)
  );
  height: 100vh;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#charge {
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding-top: 70%;
  padding-right: 5%;

  -webkit-animation: crecer 4s linear infinite;
  -o-animation: crecer 4s linear infinite;
  animation: crecer 4s linear infinite;
}

@keyframes crecer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
/* ---- Welcome ---- */
#welcome {
  background-image: linear-gradient(
    180deg,
    rgba(220, 53, 51, 1),
    rgba(68, 1, 0, 1)
  );
  height: 100vh;
  text-align: center;
}

.container-welcome {
  width: 80%;
  padding-top: 40%;
  padding-right: 6%;
  margin-left: auto;
  margin-right: auto;
}

#welcome p {
  color: rgba(255, 255, 255, 1);
  padding-top: 10%;
}

#welcome p strong {
  font-size: 130%;
}

#welcome input {
  background-image: linear-gradient(
    120deg,
    rgba(220, 53, 51, 1),
    rgba(68, 1, 0, 1)
  );
  color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  width: 40%;
  height: 6vh;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  border-color: transparent;
  margin-top: 10%;
  font-size: 90%;
}

/* ---- Sección BÚSQUEDA ---- */
.search-section {
  display: none;
}
#search {
  background-image: linear-gradient(
    180deg,
    rgba(220, 53, 51, 1),
    rgba(255, 255, 255, 1)
  );
  height: 100vh;
}

.title-input {
  width: 100%;
  padding: 46% 10%;
  text-align: center;
  top: 50%;
  left: 50%;
}

.input-search {
  width: 100%;
  align-items: center;
}

#but-search {
  width: auto;
  overflow: visible;
  cursor: pointer;
}

/* ---- Sección MI COLECCIÓN ---- */
/* .collection {
  display: none;
} */
#collection-section {
  background-image: linear-gradient(
    180deg,
    rgba(153, 169, 220, 1),
    rgba(255, 255, 255, 1)
  );
  height: 2000vh;
}

.input-select {
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: block;
}

.collection div form {
  padding-left: 2em;
  padding-top: 1em;
  width: 50%;
  height: 4vh;
  margin-bottom: 3%;
  display: block;
}

.order select {
  width: 35%;
  margin-bottom: 3%;
  background-color: blue;
  color: aliceblue;
  float: left;
  display: block;
}

.show-collection {
  height: 100vh;
}

/* ---- Trajeta de Pokémon ---- */
#data {
  /* background-color: aquamarine; */
  width: 90%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.poke-card {
  /* background-color: blueviolet; */
  border-radius: 10px;
  width: 48%;
  height: 48%;
  margin: 0.5em 0.2em;
  float: left;
  text-align: center;
  padding: 20px;
}

.poke-card:hover {
  transform: scale(1.3);
}
#p-number {
  font-weight: 400;
}
#p-name {
  font-weight: 700;
}
#p-type {
  font-weight: 500;
}
